---
layout: default
title: Home Page
features:
 - icon: fas fa-solid fa-cloud
   description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores natus fugit voluptatum quis, quibusdam quidem? Sed doloribus earum distinctio aperiam, quaerat dicta voluptatibus error consectetur ex veritatis, nihil, vero provident!
 - icon:  fas fa-solid fa-feather-pointed
   description: Dolores natus fugit voluptatum quis, quibusdam quidem? Sed doloribus earum distinctio aperiam, quaerat dicta voluptatibus error consectetur ex veritatis.
 - icon: fas fa-solid fa-seedling
   description: Lorem, ipsum dolor sit amet consectetur adipisicing elit.
 - icon: fas fa-solid fa-wind
   description: Lorem, ipsum dolor sit amet consectetur adipisicing elit.

---
  
<!----------------Header---------------------->
<header class="grid tall-100 md-tall-80">
    
    {% include header-nav.html %}

        <div class="col-12 text-center">
          <h3 class="font-weight-extra-bold editable">
              <span class="colorful-text">sleep</span> like a baby
          </h3>
          <h1 class="font-weight-light editable">
              the ultimate mattress solution
          </h1>
      </div>
</header>

  
</section>

 <!--------------------------Gallery------------------------>
<section class="grid">
    <div class="col-6_xs-12-middle padded  ">
    <h2 class="editable">
        built to last a <span class="colorful-text">lifetime</span>
    </h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur laboriosam esse expedita ipsam debitis, <strong>perspiciatis</strong> mollitia!</p>
    <p class="editable">
        Lorem ipsum dolor sit <em>amet</em> consectetur adipisicing elit. Quas eveniet, minus commodi provident repellat iure quos neque quisqua
    </p>
    </div>
    <div class="col-6_xs-12 bg-image2 tall-70 xs-hide"></div>

        <div class="col-6_xs-12 bg-image3 tall-70"> </div>
        <div class="col-6_xs-12-middle padded">
            <h2>so <span class="colorful-text">soft </span>you'll melt </h2>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat consequuntur deleniti porro sit minima pariatur inventore est incidunt quam sapiente nihil perspiciatis sequi harum eum odio, modi debitis quas. At!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo fugiat accusamus tempore sint quibusdam repellendus consequuntur animi facere. Repudiandae non accusamus temporibus neque veniam maxime qui reprehenderit quaerat repellendus adipisci.</p>
        </div>
</section>

 <!------------------------------feature icon grid--------------------->
<section class="grid-center padded bg-dark">
    <div class="col-12 padded-sm ">
        <h2 class="text-center"><span class="colorful-text">features</span> you will love</h2>
    </div>

    {% for item in page.features %}
    <div class="col-3_sm-6 xxs-stack padded-sm ">
        <i class="{{item.icon}}"></i>
        <p>{{item.description}}</p>
    </div>
   {% endfor %}
</section>  

<!--------------------------------image banner -------------------------->
<section class="grid padded bg-image4 tall-70 xxs-tall-60 ">  
     <div class="col-12-middle text-center big-text font-weight-extra-bold" <h5>
            <span class="small-text font-weight-normal">never underestimate the power of</span> 
            <br />a good night <span class="text-white sm-color-featured"> sleep</span> </h5>
        
    </div>    
</section>

<!--------------------------------Testimonial---------------------------->
<section class="grid padded-lg text-center ">
    <div class="col-1">
        <span class="quote-icon"> “</span> 
    </div>
    <div class="col-10-middle">
        <p class="medium-text font-weight-light">I've never experienced sleep like this. Omg I really love <br /> this mattress I want to buy one for every member of my family</p>
            <p class="subtitle ">- A very happy costumer</p>
    </div>
    <div class="col-1">
        <span class="quote-icon">”</span>
    </div>
</section>
