/*
    colors:
    Yellow:#FFBE00;
    Navy:#192B37;
*/

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
/*--------------------- Universal styles &utiliy classes -----------------------------------------*/

/* Padding Utility Classes--------------------------- */ 
.padded-sm { padding: 2.5%; }
.padded-md { padding: 5%;   }
.padded-lg { padding: 10%;  }

.padded-05 { padding: 0.5rem; }
.padded-1 { padding: 1rem; }
.padded-2 { padding: 2rem; }

.padded   { padding: 5rem;}

.padded-t { padding-top: 5%; }
.padded-b { padding-bottom: 5%; }
.padded-l { padding-left: 5%; }
.padded-r { padding-right: 5%; }

.padded-tb { padding-top: 5%; padding-bottom: 5%; }
.padded-lr { padding-left: 5%; padding-right: 5%; }

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-right: 1rem; }

.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-right: 2rem; }

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-right: 0; }

/* Margin Utility Classes -----------------------------*/ 

.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }


/* Backgrounds & Images -------------------------*/

.bg-image {
    background-image: url('images/the-sleep-co-bed.jpg');
    background-size: cover;
   /* min-height:10rem; */
}

.bg-pug{background-image: url('/images/the-sleep-co-pug.jpg');
    background-size: cover;}
.bg-pillow {background-image: url('/images/the-sleep-co-pillow.jpg');
    background-size: cover;}

.bg-yellow{background-color:#FFBE00;}
.bg-light{background-color: #E3ECF2;}
.bg-dark { 
    background-color:  #192B37;
    color:          white;
}


.tall-50{   min-height:    50vh;}
.tall-60{   min-height:    60vh;}
.tall-70{   min-height:    70vh;}
.tall-80{   min-height:    80vh;}
.tall-90{   min-height:    90vh;}
.tall-100 { min-height:  100vh;}




/* Typography styles*/

body{ 
    font-family:'Catamaran'; sans-serif;
    color: #192B37;
}

header{
    background-image:url('/images/the-sleep-co-bed.jpg');
    background-size: cover;
    background-position:50% 50%;
    padding:2% 5%;
}

nav a {
    padding:0.5rem;
    display:inline-block;
}

header a:hover{
    color: #FFBE00;
}


header h2 {margin-bottom:0;}

header h3{ 
    font-size:5.5rem;
    line-height:1;
}

h2, h3, h4, h5, h6 {
    line-height: 1.1;
    margin-bottom: 1.2rem;
  }
  
  
  h2:last-child, 
  h3:last-child, 
  h4:last-child,
  h5:last-child,
  h6:last-child,
  p:last-child {
    margin-bottom: 0;
  }
  
  
h2{
    font-size:2.5rem;
}

p {
    line-height: 1.5; 
    margin-bottom: 1rem;
    font-weight:200;
  }

a {
    color:inherit;
    text-decoration:none;
}


a:hover{
    color:#FFBE00;
}

/*Footer styles-----------------*/

footer a{
    border:none;
}

.sub-footer{
    display:block;
    justify-content:center;
}

footer nav a{
    padding-left:0;
}
/* Typography classes-------------*/
.colorful-text,
.text-featured {color:#FFBE00}
.text-white{color:white;}

.small-text,
.text-sm
{font-size:1.5rem;}

.text-md,
.medium-text{
    font-size:2rem;
    line-height:1.1
}

.big-text,
.text-lg  {font-size:4.5rem;
}

.font-weight-normal, .text-normal {font-weight:normal;}
.font-weight-light, .text-light{font-weight:200;}
.font-weight-extra-bold, {font-weight:800;}

.text-left {text-align: left}
.text-center {text-align:center}
.text-right {text-align:right}

.subtitle{
    font-size:1.2rem;
    color:rgb(120,120,125);
}

.uppercase {text-transform:uppercase;}

/*image styles*/
  
.bg-image{
    background-image:url('/images/the-sleep-co-bed.jpg');
    background-position:50% 50%;
    background-size: cover;
    background-repeat:no-repeat;
}

.landscape{ padding-bottom:65%;}
.portrait{ padding-bottom:125%;}
.square{ padding-bottom:100%;}

.bg-image2 {
    background-image:url('/images/the-sleep-co-lamp.jpg');
    background-size:cover;
}
.bg-image3 {
    background-image:url('/images/the-sleep-co-pug.jpg');
    background-size:cover;
    background-position: 50% 35%;
}
.bg-image4 {
    background-image:url('/images/the-sleep-co-pillow.jpg');
    background-size:cover;
    background-position: 50% 56%;
}



/* buttons and forms*/

input,
textarea{
    width:100%;
    display:block;
    margin-bottom: 0.3rem;
    padding: 0.5rem;
    font-family:inherit;
    font-size:0.9rem;
    border: 2px solid transparent;
    border-radius: 0.3rem;
}

input:focus,
textarea:focus{
    border:2px solid #FFBE00;
    outline:none;
}

.button{
    padding: 0.5rem 2rem;
    appearance: none;
    color:white;
    border-radius: 0.3rem;
}

.button-yellow{
    border:1px solid #FFBE00;
    background-color:#FFBE00;
    justify-content:center;
}

.w-100{width:100%}

.fas,
.fa-solid {
    font-size: 3rem;
    display: block;
    text-align: center;
    margin-bottom: 2rem;
}

.fa-brands{
    font-size:2rem;
    padding: 0.5rem 0.5rem 0.5rem 0;
}

.quote-icon{
    font-size:6rem;
    display:inline-block;
    color:rgb(120,120,125);
    line-height:1;
}



/* Mobile Menu Styles */
.mobile-menu {
    position: fixed; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top:2rem;
    }
    
    .mobile-menu a {
    display: block;
    font-size: 1.2rem; 
    padding: 0.5rem;
    background-color:#FFBE00;
    padding:1rem;
    }
    
    .mobile-menu a:hover{
        color:white;
        text-decoration:underline;
    }

    .hamburger-button {
    position: relative;
     z-index: 2;
    }
    
    .hamburger-button i { 
    font-size: 2.2rem; 
    margin-bottom: 0;
    padding-top:1rem;
  
    }
    
/* General CSS Responsive Styles (Apply everywhere unless overridden) */ 

.xs-show, 
.sm-show,
.md-show,
.mobile-menu {
	display: none;
}

/* ------- MD Media Query (64em / 1024px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 64em) {

/* Temporary visual hint for responsive editing, delete later */
/*body { border: 2px solid green;
        padding:0.5rem;}*/

  .md-show { display: block; }
  .md-hide { display: none;  }

  .md-tall-80 {min-height:80vh;}
}

/* ------- SM Media Query (48em / 768px) --------------- */ 
/* - Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */ 

@media (max-width: 48em) {

    html{font-size:14px;}
    p{font-size:1.1rem;}

    /* Temporary visual hint for responsive editing, delete later */
    /*body {border: 2px solid blue;}*/


  .sm-show           { display: block; }
  .sm-hide           { display: none;  }
	 
  .sm-text-center    { text-align: center; }
  .sm-text-left      { text-align: left; }
  .sm-text-right     { text-align: right; }

  /*.sm-padded       { padding: 5%; }   because there already is padded-sm=2.5%*/
  .sm-padded-0       { padding:0;}
  .sm-padded-05      { padding: 0.5rem; }
  .sm-padded-1       { padding: 1rem; }
  .sm-padded-2       { padding: 2rem; }

  .sm-padded-t-0     { padding-top: 0; }
  .sm-padded-b-0     { padding-bottom: 0; }
  .sm-padded-l-0     { padding-left: 0; }
  .sm-padded-r-0     { padding-right: 0; }
  
  .sm-margin-t-0     { margin-top: 0; }
  .sm-margin-b-0     { margin-bottom: 0; }
  .sm-margin-l-0     { margin-left: 0; }
  .sm-margin-r-0     { margin-right: 0; }

  .sm-padded-t-1     {padding-top:1rem;}
  .sm-padded-t-2     {padding-top:2rem;}
  .sm-padded-l-r     {padding-left:5%; padding-right: 5%;}

  .logo h2           {font-size:2rem;}
  header h3          {font-size:11vw;}


  .sm-color-featured { color:#192B37;}

  

  
}

/* ------- XS Media Query (36em / 576px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 36em) {

    /* Temporary visual hint for responsive editing, delete later */
    /*body {border: 2px solid lightblue;}*/

  .xs-show { display: block; }
  .xs-hide { display: none;  }

  .xs-padded-r-0{padding-right:0;}
  .xs-padded-2       {padding:2rem;}
  .padded-l {padding:0.5rem;}

    h1{
      font-size:1.4rem;
      line-height:1.1;
  }

  h2{font-size:2rem; }

  .big-text  {font-size:3.5rem;}

  [class*="grid-"][class*="-right"] {
    justify-content: left;
    padding-top:2rem;}

    .xs-flex-flip { flex-direction: column-reverse; }
    .xs-tall-60{min-height:60vh;}
}

/* ------- Optional XXS Media Query (25em / 400px) NOT part of default Gridlex styling--------------- */ 
/* - Styles added here will apply at devices smaller than 400px, or zoomed in equivalent */ 

@media (max-width: 25em) {

    html{ font-size:12px;}

    [class*=grid] .xxs-stack {
        flex-basis: 100%;
        max-width: 100%;
    }

    .xxs-tall-50 {min-height:50vh;}
    .xxs-tall-60{min-height:60vh;}
    .xs-padded-r-0{padding-right:5%;}
    .xs-padded-b-2{padding-bottom: 2rem;}

}

/*problems:

xs.flex-flip doesn't work on products page.
*/