<!DOCTYPE html>
<html>
<!--This is the head of our html content that will not be showed on the page, extrenal resources and meta data-->
<head>

    <!----Viewport meta for responsive-->
    
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Sleep like a baby</title>


<!-- font-awesome icons-  (from this website: https://cdnjs.com/libraries/font-awesome)-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!--gridlex for our flexbox grids-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.6.0/gridlex.min.css" />

<!--google fonts - catamaran (200,400,500,800)-->

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400;500;800&family=Noto+Serif+Display:ital,wght@0,300;0,400;0,800;1,300&family=Poiret+One&display=swap" rel="stylesheet" />

<!-- CSS stylesheet- our custom styleshee (always comes last)-->
    <link rel="stylesheet" href="style.css" />

</head>

<!--This is the body- page content-->
<body>

    {{ content }}

    <!-------------------------------footer------------------------------->
    <footer class="grid-spaceBetween padded bg-dark padded-b-0">
        <div class="col-6_xs-12 padded-b-0 padded-l-0">
            <h2>let's<br /> <span class="colorful-text">connect</span></h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br>Debitis, quibusdam natus numquam recusandae.</p>
            <nav class="padded-t-1">
                <a href="#"> <i class="fa-brands fa-facebook-square"></i></a>
                <a href="#"> <i class="fa-brands fa-pinterest-square"></i></a>
                <a href="#"> <i class="fa-brands fa-instagram-square"></i></a>
            </nav>
        </div>
        <div class="col-6_xs-12 grid-right">
            <div>
                <p><strong>Call:</strong><a href="tel:#"> 045555555</a></p>
                <p><strong>Email:</strong><a href="mailto.#"> hello@thesleep.co</a></p>
                <p><strong>Store:</strong> 55 Main St. Chicago</p>
                <p><strong>Instagram:</strong> <a href="https://www.instagram.com/thesleepco"> @thesleepco</a></p>
            </div>
        </div>
        
            <div class="sub-footer col-12 text-center padded-t-1 sm-padded-t-2">
                <p>Copyright 2021</p>
            </div>
        
    </footer>
</body>
</html>



<!--problems
button on contact form is too short
copyright doesn't sit in the center-->